<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Linear velocity -->
    <arg name="v" default="1"/>
    <!-- Angular velocity -->
    <arg name="w" default="0.2"/>
    <!-- Time duration -->
    <arg name="t" default="8"/>
    <node pkg="turtlesim" type="turtlesim_node" name="turtlesim_node"/>
    <node pkg="turtlesim_tutorial" type="move_time.py" name="move_turtle" output="screen" >
        <param name="v" value="$(arg v)"/>
        <param name="w" value="$(arg w)"/>
        <param name="t" value="$(arg t)"/>
    </node>
</launch>
